#pip freeze to list libraries
# Installed Libraries
# pip install mysql-connector-python
# pip install psycopg2-binary
# pip install pandas

mysql-connector-python==8.0.20
pandas==1.0.5
psycopg2-binary==2.8.5
